{% load static %}
<div class="single-sidebar-widget popular-post-widget">
    <h4 class="popular-title">Popular Posts</h4>
    <div class="popular-post-list">
        
        <div class="single-post-list d-flex flex-row align-items-center">
            <div class="thumb">
                <img class="img-fluid" src="" alt="">
            </div>
            <div class="details">
              
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
$(document).ready(function() {
    $.ajax({
        url: '/blog/api/v1/post/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            console.log('Data from API:', data);
            wrapper = $('.details');

            // بررسی اینکه data.results وجود داره و یک آرایه هست
            if (data.results && Array.isArray(data.results)) {
                // مرتب‌سازی بر اساس published_date (نزولی)
                data.results.sort(function(a, b) {
                    return new Date(b.published_date) - new Date(a.published_date);
                });

                // انتخاب ۳ پست اول
                var recentPosts = data.results.slice(0,3);

                for (post of recentPosts) {
                    wrapper.append(`<img src=${post.image} width=100px height=70px><br>
                    <a href="/blog/${post.id}">${post.title}</a><P>${post.published_date}</p>`);
                }
            } else {
                console.error('data.results is not an array or does not exist');
            }
        }
    });
});
</script>
</div>
